@import '../../../assets/styles/variables';
footer{
	padding: 75px 0;
	.logo-holder{
		margin-bottom: 30px;
		a{
			font-family: $logo-font;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			color: #393939;
		}
	}
	.footer-content{
		margin-bottom: 30px;
		justify-content: space-between;
		h4{
			font-weight: 600;
			font-size: 16px;
			color: $black-color;
			margin: 0 0 20px;
		}
		p{
			margin-bottom: 20px;
			font-size: 14px;
			a{
				display: inline-block;
				margin: 0 10px 10px 0;
				img{
					max-height: 44px;
				}
			}
			a:hover{
				opacity: 0.9;
			}
		}
		ul{
			margin: 0 0 15px;
			padding: 0;
			list-style: none;
			li{
				margin-bottom: 15px;
				a{
					color: $black-color;
					font-size: 14px;
				}
				a:hover{
					color: $orange-color;
				}
			}
		}
	}
	.copyright-holder{
		background: $light-green-color;
		border-radius: 50px;
		padding: 20px 30px;
		font-size: 14px;
		color: $white-color;
		a{
			color: $white-color;
			margin-left: 30px;
			i{
				font-size: 24px;
			}
		}
		a:hover{
			color: $orange-color;
		}
		.follow-us{
			position: relative;
			top: -3px;
		}
	}
	@media(max-width: 767px){
		padding: 50px 0 30px;
		.footer-content{
			margin-bottom: 10px;
		}
		.copyright-holder{
			padding: 10px 30px;
			text-align: center;
			border-radius: 10px;
			.social-bar{
				margin-top: 10px;
			}
			a{
				margin: 0 15px;
				i{
					font-size: 18px;
				}
			}
		}
	}
}