<footer>
	<div class="container">
		<div class="clearfix logo-holder">
			<a routerLink="/home">
		        Wildster
		    </a>
		</div>
		<div class="row footer-content">
			<div class="col-md-4">
				<h4>ADDRESS</h4>
				<p class="address">
					414, 7th Main Rd, HRBR Layout 1st Block, HRBR Layout, Kalyan Nagar, Bengaluru, Karnataka 560043
					<br /><br />
					Ph No : 7485962563
				</p>
				<h4>Download wildster app</h4>
				<p class="mobile-apps">
					<a href="javascript:;">
						<img src="assets/images/app-store.png" alt="" />
					</a>
					<a href="javascript:;">
						<img src="assets/images/google-play.png" alt="" />
					</a>
				</p>
			</div>
			<div class="col-auto">
				<h4>MENU</h4>
				<ul>
					<li><a href="javascript:;">Teachers</a></li>
					<li><a href="javascript:;">Events</a></li>
					<li><a href="javascript:;">Blog</a></li>
					<li><a href="javascript:;">Help</a></li>
					<li><a href="javascript:;">Log in</a></li>
				</ul>
			</div>
			<div class="col-auto">
				<h4>RESOURCES</h4>
				<ul>
					<li><a href="javascript:;">Status</a></li>
					<li><a href="javascript:;">Why Wildster?</a></li>
					<li><a href="javascript:;">Help Center</a></li>
					<li><a href="javascript:;">Partners</a></li>
					<li><a href="javascript:;">Integration</a></li>
					<li><a href="javascript:;">Speak With Us</a></li>
				</ul>
			</div>
			<div class="col-auto">
				<h4>COMPANY</h4>
				<ul>
					<li><a href="javascript:;">About</a></li>
					<li><a href="javascript:;">Careers</a></li>
					<li><a href="javascript:;">End User Terms</a></li>
					<li><a href="javascript:;">Retailer Terms</a></li>
					<li><a href="javascript:;">Privacy policy</a></li>
				</ul>
			</div>
		</div>
		<div class="clearfix copyright-holder">
			<div class="row align-items-center">
				<div class="col-md-auto mr-auto">
					@Wildster copyright by Wildster.llc 2020
				</div>
				<div class="col-md-auto social-bar">
					<span class="follow-us">Follow us</span>
					<a href="javascript:;" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="javascript:;" target="_blank">
						<i class="fab fa-whatsapp"></i>
					</a>
					<a href="javascript:;" target="_blank">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>