@import '../../../assets/styles/variables';
.navbar.navbar-main.sticky-top{
    padding: 10px 0;
    background: $navbar-bg;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    .logo{
        color: $green-color;
        font-size: 24px;
        img{
            max-height: 24px;
        }
    }
    .navbar-collapse{
        .navbar-nav.main-nav{
            li{
                margin: 0 10px;
                position: relative;
                a, a:focus{
                    font-size: 14px;
                    color: $navbar-nav-color;
                }
                a:hover:before{
                    background: $green-color;
                }
                a.signup-btn{
                    background: $green-color;
                    font-size: 14px;
                    color: $white-color;
                }
                a.signup-btn:hover{
                    background: $nav-grn-hvr;
                }
                a.signup-btn:hover:before{
                    content: none;
                }
            }
            li.active{
                a{

                }
            }

        }
    }
}
.navbar.navbar-main{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 25px 0 0;
    z-index: 9;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    .logo{
    	padding: 0;
        margin: 0;
        font-family: $logo-font;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        color: $light-gray-color;
    	img{
    		max-height: 35px;
    	}
    }
    .navbar-collapse{
        justify-content: flex-end;
        .navbar-nav.main-nav{
            li{
                margin: 0 10px;
                position: relative;
                a, a:focus{
                    font-size: 16px;
                    color: $white-color;
                    padding: 8px 10px;
                    display: inline-block;
                    font-weight: 300;
                }
                a:hover:before{
                    content: "";
                    position: absolute;
                    width: 60%;
                    height: 4px;
                    background: $nav-orn-bdr;
                    bottom: 0;
                    left: 20%;
                    border-radius: 4px;
                    -webkit-transition: color .25s ease;
                    transition: color .25s ease;
                }
                a.signup-btn{
                    background: $orange-color;
                    border-radius: 20px;
                    font-weight: 400;
                    font-size: 15px;
                    display: inline-block;
                    padding: 8px 20px;
                }
                a.signup-btn:hover{
                    background: $nav-orn-hvr;
                }
                a.signup-btn:hover:before{
                    content: none;
                }
            }
            li.active{
                a{

                }
            }

        }
    }
}
@media(max-width: 991px){
    .navbar.navbar-main, .navbar.navbar-main.sticky-top{
        padding: 10px 0;
        background: $navbar-bg;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        .container{
            padding: 0 15px;
        }
        .logo-holder{
            width: 100%;
            .logo{
                color: $green-color;
                font-size: 24px;
                img{
                    max-height: 24px;
                }
            }
        }
        .navbar-toggler{
            background: $green-color;
            color: $white-color;
            border: 0;
            height: 34px;
            width: 35px;
            padding: 0;
            border-radius: 50%;
            outline: 0;
            float: right;
        }
        .navbar-collapse{
            .navbar-nav.main-nav{
                li{
                    margin: 0 0 5px;
                    position: relative;
                    a, a:focus{
                        font-size: 14px;
                        color: $navbar-nav-color;
                    }
                    a:hover:before{
                        background: $green-color;
                        width: 30px;
                        left: 10px;
                    }
                    a.signup-btn{
                        margin-top: 5px;
                        background: $green-color;
                        font-size: 14px;
                        color: $white-color;
                    }
                    a.signup-btn:hover{
                        background: $nav-grn-hvr;
                    }
                    a.signup-btn:hover:before{
                        content: none;
                    }
                }

            }
        }
    }
}