<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-main">
  <div class="container">
    <div class="logo-holder">
      <a class="navbar-brand logo" routerLink="/home">
        Wildster
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="far fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav main-nav">
        <li routerLinkActive="active">
          <a routerLink="#">Teachers</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="#">Events</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="#">Blog</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="#">Help</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="#">Log in</a>
        </li>
        <li>
          <a routerLink="#" class="signup-btn">Join for free</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /End Navbar -->