<section class="herobox">
  <div id="herobox-scene">
	  <img src="assets/images/hero-bg.png" data-depth="0.4" class="hero-bg" alt="" />
  </div>
  <div class="herobox-content-holder">
  	<div class="container">
	  	<div class="row justify-content-center">
	  		<div class="col-xl-10 herobox-content">
		  		<h1>Start learning from today!</h1>
		  		<p>
		  			Wildster helps your kids to learn from home
		  			<br />
		  			and keep them ahead.
		  		</p>
		  		<div class="search-box">
		  			<input type="text" class="form-control input-search" placeholder="Search live classes, tracks, events">
		  			<a href="javascript:;" class="search-btn">
		  				<i class="fal fa-search"></i>
		  			</a>
		  		</div>
		  	</div>
	  	</div>
	  </div>
  </div>
</section>
<!-- Online Classes -->
<section class="online-classes-holder">
	<div class="container">
		<div class="row slide-holder">
			<div class="col-12 title-holder">
				<h1>Live Online Classes & Camps</h1>
				<p>Taught by qualified teachers over live video for as low as $5.</p>
			</div>
			<div class="col-12 slide-box online-classes-slider-1">
				<div>
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">5.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-1.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>The Five Paragraph Essay Made Easy</h4>
						<p class="auth">By Gabrialla Horvath</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='80'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">4.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-2.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-offline">OFFLINE</p>
						<h4>How to draw manga comics by well known artist</h4>
						<p class="auth">By Frank ford</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='65'>
					          <span class="progress-left">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <div class="progress-value text-avg">3.5</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-3.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Logotype Masterclass with Jessica Hische</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='30'>
					          <span class="progress-left">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <div class="progress-value text-low">2.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-4.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Creative Writing: Crafting Personal Essays with Impact</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <div class="progress-value text-new">New</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-5.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Storytelling 101: Character, Conflict, Context & Craft</h4>
						<p class="auth">By Daniel José Older</p>
					</div>
				  </div>
				</div>

				<div>
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">5.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-1.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>The Five Paragraph Essay Made Easy</h4>
						<p class="auth">By Gabrialla Horvath</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='80'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">4.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-2.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-offline">OFFLINE</p>
						<h4>How to draw manga comics by well known artist</h4>
						<p class="auth">By Frank ford</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='65'>
					          <span class="progress-left">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <div class="progress-value text-avg">3.5</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-3.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Logotype Masterclass with Jessica Hische</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='30'>
					          <span class="progress-left">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <div class="progress-value text-low">2.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-4.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Creative Writing: Crafting Personal Essays with Impact</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <div class="progress-value text-new">New</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-5.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Storytelling 101: Character, Conflict, Context & Craft</h4>
						<p class="auth">By Daniel José Older</p>
					</div>
				  </div>
				</div>

			</div>
		</div>

		<div class="row slide-holder">
			<div class="col-12 title-holder">
				<h1>Classes near Boulder, CO <i class="fal fa-map-marker-alt"></i></h1>
				<p>Taught by qualified teachers over live video for as low as $5.</p>
			</div>
			<div class="col-12 slide-box online-classes-slider-2">
				<div>
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">5.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-1.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>The Five Paragraph Essay Made Easy</h4>
						<p class="auth">By Gabrialla Horvath</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='80'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">4.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-2.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-offline">OFFLINE</p>
						<h4>How to draw manga comics by well known artist</h4>
						<p class="auth">By Frank ford</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='65'>
					          <span class="progress-left">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <div class="progress-value text-avg">3.5</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-3.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Logotype Masterclass with Jessica Hische</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='30'>
					          <span class="progress-left">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <div class="progress-value text-low">2.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-4.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Creative Writing: Crafting Personal Essays with Impact</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <div class="progress-value text-new">New</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-5.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Storytelling 101: Character, Conflict, Context & Craft</h4>
						<p class="auth">By Daniel José Older</p>
					</div>
				  </div>
				</div>

				<div>
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">5.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-1.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>The Five Paragraph Essay Made Easy</h4>
						<p class="auth">By Gabrialla Horvath</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='80'>
					          <span class="progress-left">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-high"></span>
					          </span>
					          <div class="progress-value">4.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-2.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-offline">OFFLINE</p>
						<h4>How to draw manga comics by well known artist</h4>
						<p class="auth">By Frank ford</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='65'>
					          <span class="progress-left">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-avg"></span>
					          </span>
					          <div class="progress-value text-avg">3.5</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-3.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Logotype Masterclass with Jessica Hische</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='30'>
					          <span class="progress-left">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-low"></span>
					          </span>
					          <div class="progress-value text-low">2.0</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-4.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Creative Writing: Crafting Personal Essays with Impact</h4>
						<p class="auth">By Jessica Hische</p>
					</div>
				  </div>
				</div>

				<div>				  
				  <div class="box" data-mh="box">
				  	<div class="thumbnail-holder">
				  		<div class="progress-circle-holder">
				  			<div class="progress mx-auto" data-value='100'>
					          <span class="progress-left">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <span class="progress-right">
					                <span class="progress-bar label-new"></span>
					          </span>
					          <div class="progress-value text-new">New</div>
				        	</div>
				  		</div>				  		
					  	<img src="assets/images/online-class-5.png" alt="" />
					  	<label class="age-badge">Age 5 - 12</label>
					</div>
					<div class="content">
						<p class="status status-online">ONLINE</p>
						<h4>Storytelling 101: Character, Conflict, Context & Craft</h4>
						<p class="auth">By Daniel José Older</p>
					</div>
				  </div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<!-- Lots to learn -->
<section class="lots-to-learn">
  <div class="content-holder">
  	<div class="container">
	  	<div class="row">
	  		<div class="col-md-12 col-lg-7 col-xl-6 content">
		  		<h1>Lots to learn</h1>
		  		<p>
		  			Let’s Sed ut perspiciatis unde omnis iste<br /> 
					natuserror sitv oluptatem accusantium<br />
					doloremque ntium totam rem.
		  		</p>
		  		<div class="btn-holder">
		  			<button type="button" class="btn btn-cst-blue">Art & Design</button>
		  			<button type="button" class="btn btn-cst-green">Sports</button>
		  			<button type="button" class="btn btn-cst-brown">Coding and Tech</button>
		  			<button type="button" class="btn btn-cst-yellow">Music</button>
		  			<button type="button" class="btn btn-cst-orange">Performing Arts</button>
		  			<button type="button" class="btn btn-cst-gray">Life Skills</button>
		  			<button type="button" class="btn btn-cst-blue">Health & Wellness</button>
		  		</div>
		  		<p>
		  			<a href="javascript:;" class="viewall-btn">
		  				View All <i class="far fa-chevron-double-right"></i>
		  			</a>
		  		</p>
		  	</div>
	  	</div>
	  </div>
  </div>
   <div id="lots-to-learn-scene">
	  <img src="assets/images/lots-to-learn.png" data-depth="0.2" class="lots-to-learn-bg" alt="" />
  </div>
</section>
<!-- Meet Our Teachers -->
<section class="meet-our-teachers">
	<div class="container">
		<div class="row justify-content-center">
	  		<div class="col-xl-11">
	  			<div class="title-holder">
					<h1>Meet Our Teachers</h1>
					<p>Our teachers are experts who has years if exxperience in this field</p>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-3 teachers-box-holder">
						<div class="box" data-mh="tbox">
						  	<div class="thumbnail-holder">			  		
							  	<img src="assets/images/teacher-1.png" alt="" />
							</div>
							<div class="content">
								<h4>Jessika Chang <sub>B.ED, Phd</sub></h4>
								<p>Energetic and Engaging Science and Social Studies</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 teachers-box-holder">
						<div class="box" data-mh="tbox">
						  	<div class="thumbnail-holder">			  		
							  	<img src="assets/images/teacher-2.png" alt="" />
							</div>
							<div class="content">
								<h4>Hensen megh <sub>Digital Arts</sub></h4>
								<p>Hensen is very creative person he is one one the best artist..</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 teachers-box-holder">
						<div class="box" data-mh="tbox">
						  	<div class="thumbnail-holder">			  		
							  	<img src="assets/images/teacher-3.png" alt="" />
							</div>
							<div class="content">
								<h4>Hella Jones <sub>B.ED, Phd</sub></h4>
								<p>Energetic and Engaging Science and Social Studies</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 teachers-box-holder">
						<div class="box" data-mh="tbox">
						  	<div class="thumbnail-holder">			  		
							  	<img src="assets/images/teacher-4.png" alt="" />
							</div>
							<div class="content">
								<h4>Seema anand <sub>B.ED, Phd</sub></h4>
								<p>Energetic and Engaging Science and Social Studies</p>
							</div>
						</div>
					</div>
				</div>
	  		</div>
	  	</div>
	</div>
</section>
<!-- What people say about us -->
<section class="review-holder">
	<div id="review-scene">
		<img src="assets/images/testimonials-bg.png" data-depth="0.1" class="review-bg" alt="" />
	</div>
	<div class="review-content-holder">
	  	<div class="container">
		  	<div class="row">
		  		<div class="col-12 review-content">
		  			<div class="row align-items-center">
		  				<!-- Testimonials -->
				  		<div class="col-md-6 review-slider-holder">
							<div class="slider-card-bg"></div>
							<div class="review-slider">
								<div>
								  <div class="box" data-mh="review-box">
								  	<div class="thumbnail-holder">
									  	<img src="assets/images/review-slide.png" alt="" />
									</div>
									<div class="content">
										<h4>
											Wildsters gives option to study from home and that’s great.
										</h4>
										<p class="auth">
											Jessica Melan, parent
										</p>
									</div>
								  </div>
								</div>
								<div>
								  <div class="box" data-mh="review-box">
								  	<div class="thumbnail-holder">
									  	<img src="assets/images/review-slide.png" alt="" />
									</div>
									<div class="content">
										<h4>
											Wildsters gives option to study from home and that’s great.
										</h4>
										<p class="auth">
											Jessica Melan, parent
										</p>
									</div>
								  </div>
								</div>
								<div>
								  <div class="box" data-mh="review-box">
								  	<div class="thumbnail-holder">
									  	<img src="assets/images/review-slide.png" alt="" />
									</div>
									<div class="content">
										<h4>
											Wildsters gives option to study from home.
										</h4>
										<p class="auth">
											Mr. Abcd, parent
										</p>
									</div>
								  </div>
								</div>
								<div>
								  <div class="box" data-mh="review-box">
								  	<div class="thumbnail-holder">
									  	<img src="assets/images/review-slide.png" alt="" />
									</div>
									<div class="content">
										<h4>
											Wildsters gives option to study from home and that’s great.
										</h4>
										<p class="auth">
											Jessica Melan, parent
										</p>
									</div>
								  </div>
								</div>
							</div>
						</div>
						<!-- What people say -->
						<div class="col-md-5 ml-auto what-people-say">
							<h1>
								What people say<br />
								about us
							</h1>
							<p>
								Wildster helps 100K+ Students till now here what they say about us 
							</p>
							<div class="stars-box">
								<img src="assets/images/reviews.png" alt="" />
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
						</div>
					</div>
			  	</div>
		  	</div>
		  </div>
	  </div>
</section>