@import '../../../assets/styles/variables';
.herobox{
	background-image: url('../../../assets/images/hero-ellipes-1.png'), url('../../../assets/images/hero-ellipes-2.png');
  	background-position: left 30% top, left 40% bottom;
 	background-repeat: no-repeat, no-repeat;
	background-color: $light-green-color;
	border-radius: 0 0 80px 80px;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	@media(max-width: 767px){
		border-radius: 0 0 30px 30px;
	}
	.hero-bg{
		max-width: 90%;
		margin: 50px auto auto;
	}
	.herobox-content-holder{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		bottom: 0;
		.herobox-content{
			text-align: center;		
			color: $white-color;
			h1{
				font-family: $title-font;
				font-weight: 700;
				font-size: 54px;
			}
			p{
				font-size: 18px;
			}
			.search-box{
			    max-width: 600px;
			    margin: 30px auto 0;
			    position: relative;
			    .input-search{
			    	height: 60px;
				    border-radius: 50px;
				    box-shadow: none;
				    border: 0;
				    font-size: 14px;
				    padding: 10px 55px 10px 30px;
			    }
			    .search-btn{
		    	    position: absolute;
				    top: 16px;
				    right: 25px;
				    font-size: 20px;
				    color: $light-green-color;
			    }
			}			
			@media(max-width: 1199px){
				h1{
					font-size: 45px;
				}
			}		
			@media(max-width: 991px){
				h1{
					font-size: 36px;
				}
			}	
			@media(max-width: 767px){
				h1{
					font-size: 28px;
				}
				p{
					font-size: 14px;
				}
			}
		}
	}
}
.online-classes-holder{
	padding: 60px 0 0;
	@media(max-width: 767px){
		padding: 30px 0 0;
	}
	.title-holder{
		margin-bottom: 15px;
		text-align: center;
		h1{
			font-family: $title-font;
			font-style: normal;
			font-weight: bold;
			font-size: 31px;
			letter-spacing: 0.02em;
			color: $light-green-color;
			i{
				font-size: 20px;
			    position: relative;
			    top: -3px;
			}
		}
		p{
			font-size: 16px;
			letter-spacing: 0.02em;
			color: #5C5C5C;
		}
		@media(max-width: 767px){
			h1{
				font-size: 24px;
			}
			p{
				font-size: 14px;
			}
		}
	}
	.slide-holder{
		margin-bottom: 50px;
		@media(max-width: 767px){
			margin-bottom: 20px;
		}
	}
	.slide-box{
		.slick-slide{
			padding: 10px;
			outline: none;
			.box{
				background: $white-color;
				border: 2px solid #CDF5B0;
				border-radius: 40px;
				padding: 10px;
				.thumbnail-holder{
					margin-bottom: 5px;
					position: relative;
					img{
						width: 100%;
						border-radius: 35px;
					}
					.progress-circle-holder{
						position: absolute;
					    width: 49px;
					    height: 49px;
					    left: 10px;
					    top: 10px;
					    background: $purple-color;
					    padding: 5px;
					    border-radius: 50%;	
					    .label-high{
					    	border-color: $light-green-color;
					    }				
					    .label-new{
					    	border-color: $white-color;
					    }			
					    .label-avg{
					    	border-color: $nav-orn-bdr;
					    }			
					    .label-low{
					    	border-color: $yellow-color;
					    }			
						.progress {
						  	width: 39px;
						    height: 39px;
						    background: none;
						    position: relative;
						  	.progress-bar {
							  width: 100%;
							  height: 100%;
							  background: none;
							  border-width: 3px;
							  border-style: solid;
							  position: absolute;
							  top: 0;
							}
							.progress-left {
							  left: 0;
							  .progress-bar {
								  left: 100%;
								  border-top-right-radius: 80px;
								  border-bottom-right-radius: 80px;
								  border-left: 0;
								  -webkit-transform-origin: center left;
								  transform-origin: center left;
								}
							}
							span {
							  width: 50%;
							  height: 100%;
							  overflow: hidden;
							  position: absolute;
							  top: 0;
							  z-index: 1;
							}
							.progress-right {
							  right: 0;
							  .progress-bar {
								  left: -100%;
								  border-top-left-radius: 80px;
								  border-bottom-left-radius: 80px;
								  border-right: 0;
								  -webkit-transform-origin: center right;
								  transform-origin: center right;
								}
							}
							.progress-value {
							 	position: absolute;
							    top: 0;
							    left: 0;
							    right: 0;
							    color: $white-color;
							    text-align: center;
							    line-height: 39px;
							    font-weight: 500;
							    font-size: 12px;
							}
							.text-avg{
								color: $nav-orn-bdr !important;
							}
							.text-low{
								color: $yellow-color !important;
							}
							.text-new{
								color: #fff !important;
								font-size: 10px !important;
							}
						}
						.progress::after {
						  content: "";
						  width: 100%;
						  height: 100%;
						  border-radius: 50%;
						  border: 3px solid $purple-color;
						  position: absolute;
						  top: 0;
						  left: 0;
						}
					}
					.age-badge{
						position: absolute;
						padding: 5px 10px;
						right: 10px;
						bottom: 10px;
						background: $white-color;
						box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
						border-radius: 60px;
						font-size: 11px;
						letter-spacing: 0.05em;
						text-align: center;
						color: $black-color;
						font-weight: 500;
					}
				}
				.content{
					padding: 10px;
					.status{
						font-size: 13px;
						text-transform: uppercase;
						margin: 0;
						letter-spacing: 0.07em;
					}
					.status-online{
						color: $orange-color;
					}
					.status-offline{
						color: #1A0E96;
					}
					h4{
						font-size: 16px;						
						letter-spacing: 0.02em;
						color: #3F3F3F;
						font-weight: 600;
						line-height: 23px;
					}
					.auth{
						font-size: 12px;
						line-height: 21px;
						letter-spacing: 0.07em;
						color: #AE6249;
						margin: 0;
					}
				}
			}			
		}
		.slick-slide:hover, .slick-slide:focus{
			.box{
				border: 2px solid $light-green-color;
			}			
		}
		
	}
	
}
.lots-to-learn{
	position: relative;
	overflow: hidden;
	.lots-to-learn-bg{
		max-width: 50%;
		margin: 0 0 0 auto;
		@media(max-width: 991px){
			display: none !important;
		}
	}
	.content-holder{		
		background-image: url('../../../assets/images/ltl-ellipes-1.png'), url('../../../assets/images/ltl-ellipes-2.png');
	  	background-position: left top, left 40% bottom;
	 	background-repeat: no-repeat, no-repeat;
	 	background-color: $purple-color;
	 	position: absolute;
	 	left: 0;
	 	right: 0;
	 	top: 150px;
	 	bottom: 120px;
	 	display: flex;
		align-items: center;
		border-radius: 0px 80px 80px 0px;
		@media(max-width: 1199px){
			top: 100px;
	 		bottom: 75px;
		}
		@media(max-width: 991px){
			position: relative;
			padding: 50px 0;
			top: 0;
			bottom: 0;
		}
		@media(max-width: 767px){			
			padding: 30px 0;
			border-radius: 0px 30px 30px 0px;
		}
		.content{
			color: $white-color;
			h1{
				font-family: $title-font;
				font-style: normal;
				font-weight: bold;
				font-size: 50px;
				letter-spacing: 0.02em;
				margin-bottom: 20px;
			}
			p{
				font-size: 17px;
				opacity: .9;
				letter-spacing: 0.02em;
				.viewall-btn{
					font-size: 14px;
					color: $white-color;
					opacity: .9;
					i{
						font-size: 11px;
						margin-left: 5px;
						position: relative;
						top: -1px;
					}
				}
				.viewall-btn:hover{
					opacity: 1;
				}
			}
			.btn-holder{
				margin: 30px 0;
				.btn{
					margin: 0 10px 10px 0;
					border-radius: 20px 0px;
					transition: all 0.5s ease;
					padding: 10px 20px;
					font-family: $logo-font;
					font-weight: 500;
					font-size: 12px;
					letter-spacing: 0.5px;
				}
				.btn-cst-blue{
					color: $white-color;
					background: #2012CE;
				}
				.btn-cst-blue:hover{
					background: #2032CE;
				}
				.btn-cst-green{
					color: $white-color;
					background: $light-green-color;
				}				
				.btn-cst-green:hover{
					background: #55c21f;
				}
				.btn-cst-brown{
					color: $white-color;
					background: #ae6249;
				}				
				.btn-cst-brown:hover{
					background: #ae7249;
				}
				.btn-cst-yellow{
					color: #0E0E0E;
					background: $yellow-color;
				}				
				.btn-cst-yellow:hover{
					background: #fdfd06;
				}
				.btn-cst-orange{
					color: $white-color;
					background: $orange-color;
				}				
				.btn-cst-orange:hover{
					background: #fd9607;
				}
				.btn-cst-gray{
					color: $black-color;
					background: $light-gray-color;
				}				
				.btn-cst-gray:hover{
					background: #E3fFF1;
				}
			}
			@media(max-width: 1199px){
				h1{
					font-size: 45px;
				}
			}
			@media(max-width: 991px){
				h1{
					font-size: 36px;
				}
				p{
					font-size: 16px;
				}
			}
			@media(max-width: 767px){
				h1{
					font-size: 24px;
				}
				p{
					font-size: 14px;
				}
				.btn-holder{
					margin: 15px 0;
				}
			}
		}
	}
}
.meet-our-teachers{
	padding: 0 0 60px;
	@media(max-width: 991px){
		padding: 50px 0;
	}
	@media(max-width: 767px){
		padding: 30px 0;
	}
	.title-holder{
		margin-bottom: 30px;
		text-align: center;
		h1{
			font-family: $title-font;
			font-style: normal;
			font-weight: bold;
			font-size: 31px;
			letter-spacing: 0.02em;
			color: $light-green-color;
			i{
				font-size: 20px;
			    position: relative;
			    top: -3px;
			}
		}
		p{
			font-size: 16px;
			letter-spacing: 0.02em;
			color: #5C5C5C;
		}
		@media(max-width: 767px){
			h1{
				font-size: 24px;
				i{
					font-size: 16px;
				    top: -2px;
				}
			}
			p{
				font-size: 14px;
			}
		}
	}
	.teachers-box-holder{
		padding: 10px;
		.box{
			background: $white-color;
			border: 2px solid #CDF5B0;
			border-radius: 40px;
			cursor: pointer;
			@media(max-width: 575px){
				max-width: 320px;
    			margin: 0 auto;
			}
			.thumbnail-holder{
				position: relative;
				img{
					width: 100%;
					border-radius: 40px;
				}
			}
			.content{
				padding: 20px;
				h4{
					font-size: 16px;						
					letter-spacing: 0.02em;
					color: #3F3F3F;
					font-weight: 600;
					margin-bottom: 10px;
					sup{
						font-size: 12px;
						font-weight: 400;
					}
				}
				p{
					font-size: 12px;
					margin: 0
				}
			}
		}
		.box:hover, .box:focus{
			border: 2px solid $light-green-color;
		}
	}
}
.review-holder{
	background-color: $orange-color;
	border-radius: 80px 0 0 80px;
	overflow: hidden;
	position: relative;
	@media(max-width: 767px){
		border-radius: 30px 0 0 30px;
	}
	.review-bg{
		max-width: 95%;
		margin: 0 0 0 auto;
		@media(min-width: 1450px){
			max-width: 90%;
		}
		@media(max-width: 991px){
			display: none !important;
		}
	}
	.review-content-holder{
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		bottom: 100px;		
		@media(max-width: 991px){
			position: relative;
			top: 0;
			bottom: 0;	
			padding: 50px 0;	
		}		
		@media(max-width: 767px){
			padding: 30px 0;	
		}
		.review-content{
			.review-slider-holder{
				display: flex;
				justify-content: center;
				.slider-card-bg{
					position: absolute;
				    width: 315px;
				    height: 280px;
				    left: auto;
				    top: 105px;
				    background: rgba(255, 255, 255, 0.5);
				    border-radius: 30px;
				    transform: rotate(15deg);
				}
				.review-slider{
					max-width: 250px;
					.slick-slide{
						padding-top: 75px;
						padding-bottom: 75px;
						outline: none;
					}
					.box{
						background: $white-color;
						border-radius: 30px;
						padding: 5px 5px 30px;
						.thumbnail-holder{
							background: #f4f4f4;
							border-radius: 30px;
							height: 180px;
							position: relative;
							bottom: 0;
							img{
								max-width: 100%;
								max-height: 261px;
								position: absolute;
								bottom: 0;
							}
						}
						.content{
							padding: 20px;
							text-align: center;
							h4{
								font-size: 16px;						
								letter-spacing: 0.02em;
								color: $black-color;
								font-weight: 600;
								margin-bottom: 10px;
							}
							.auth{
								font-size: 12px;
								margin: 0
							}
						}
					}
				}
			}
			.what-people-say{
				color: $white-color;
				h1{
					font-family: $title-font;
					font-style: normal;
					font-weight: bold;
					font-size: 45px;
					letter-spacing: 0.02em;
					margin-bottom: 15px;
				}
				p{
					opacity: 0.8;
					font-size: 18px;
					font-weight: 300;
				}
				.stars-box{
					margin: 30px 0 0;
					white-space: nowrap;
					img{
						margin-right: 30px;
					}
					i{
						color: $yellow-color;
						font-size: 21px;
						margin-right: 10px;
					}
				}
				@media(max-width: 991px){
					h1{
						font-size: 31px;
					}
					p{
						font-size: 16px;
					}
					.stars-box{
						margin: 15px 0 0;
						white-space: nowrap;
						img{
							margin-right: 15px;
						}
						i{
							color: $yellow-color;
							font-size: 18px;
							margin-right: 8px;
						}
					}	
				}
				@media(max-width: 767px){
					h1{
						font-size: 24px;
					}
					p{
						font-size: 14px;
					}
				}
			}
		}
	}
}