body, html {
    font-family: $default-font;
    margin: 0;
    padding: 0;
    height: initial;
    font-size: 13px;
    color: $default-color;
    background: $default-bg;
    font-weight: normal;
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none; 
    }    
    ::-webkit-scrollbar-thumb {
        background-color: $default-scroll-bar-color;
        -webkit-box-shadow: none;
        border: 0;
        border-radius: 10px; 
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: $default-scroll-bar-hvr-color; 
    }
    a{
        color: $anchor-color;
        outline: none;
    }
    a:hover{
        color: $anchor-hvr-color;
        text-decoration: none;
    }
    .row.no-margin{
        margin-left: 0;
        margin-right: 0;
    }
    .no-padding{
        padding-left: 0;
        padding-right: 0;
    }
    .slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus{
        width: 45px;
        height: 45px;
        background: linear-gradient(180deg, $yellow-color 0%, $orange-color 100%);
        border: 1.5px solid $white-color;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #FDC706;
        border-radius: 50%;
        font-size: 14px;
        color: $white-color;
        z-index: 1;
    }
    .slick-prev:hover, .slick-next:hover{
        background: linear-gradient(180deg, #FEDD06 0%, #FE9607 100%);
    }
    .slick-prev:before, .slick-next:before{
        content: none;
    }
    .slick-disabled{
        opacity: 0;
    }
    .slick-disabled.review{
        opacity: 1;
    }
    .slick-prev.review{
        width: 60px;
        height: 60px;
        top: initial;
        font-size: 21px;
        left: 52px;
        bottom: 15px;
        background: linear-gradient(180deg, $yellow-color 0%, $orange-color 100%);
        border: 3px solid $white-color;
        box-sizing: border-box;
        box-shadow: inset 0px 0px 5px #FDC706;
    }
    .slick-next.review {
        width: 75px;
        height: 75px;
        top: initial;
        font-size: 28px;
        right: 52px;
        bottom: 0;
        background: linear-gradient(180deg, $yellow-color 0%, $orange-color 100%);
        border: 3px solid $white-color;
        box-sizing: border-box;
        box-shadow: inset 0px 0px 5px #FDC706;
    }
    @media(max-width: 767px){
        .slick-prev{
            left: 0;
        }
        .slick-next{
            right: 0;
        }
        .slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus{
            width: 35px;
            height: 35px;
        }
    }
}