// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');
$default-font: 'Poppins';
$title-font: 'Playfair Display';
$logo-font: 'Red Hat Display';

// All Colors==============
$default-bg: #f2ffea;
$default-bg2: #fff;
$default-color: #000;
$default-scroll-bar-color: #ccc;
$default-scroll-bar-hvr-color: #7f7f7f;
$default-border: #dce0e3;
$anchor-color: #FD8607;
$anchor-hvr-color: #e97800;

// Navbar
$navbar-bg: #fff;
$navbar-nav-color: #333333;
$nav-grn-hvr: #2BBE66;
$nav-orn-bdr: #FB8405;
$nav-orn-hvr: #fd7607;

/*Basic Color*/
$black-color: #000;
$white-color: #fff;
$blue-color: #2012CE;
$dark-blue-color: #1A0E96;
$light-blue-color: #5144D5;
$purple-color: #3F1E41;
$green-color: #2BAE66;
$light-green-color: #55A21F;
$orange-color: #FD8607;
$gray-color: #AEACAC;
$light-gray-color: #E3DFF1;
$brown-color: #AE6249;
$yellow-color: #FDCD06;
